
@media screen, print {
    body {
        font-family: sans-serif;
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
    }

    table, td, tr, th {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }

    table {
        width: 100%;
    }
    tr th {
        background-color: rgb(201, 201, 201);
    }

    td {
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: lightgrey;
    }

    td button {
        width: 100%;
    }

    .input-btn-cont {
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: space-around;
        margin: 20px 0px 20px 0px;
    }

    .input-btn-cont button {
        display: block;
        padding: 15px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 10px;
        border: 1px solid black;
    }

    .input-btn-cont button:hover {
        background-color: grey;
    }
}

@media print {
    .input-btn-cont {
        display: none;
    }
    
}