
:root {
    --select-tab-color: white;
    --hover-tab-color: lightgrey;
    --accent-color: rgb(107, 174, 174);
    --base-button-color: #eee;
    --alt-row-color:lightgrey;
    --light-btn-text-color:grey;
}

@media only screen and (max-width: 1299px){
    body{
        font-size: 1vw;
    } 

    td button {
        font-size: 2vw;
        width: 5vw;
        aspect-ratio: 1;
        border-radius: 15%;
        /* border: 1px solid black; */
        color: red;
        transition: 0.2s all; 
    }
    td button:hover {
        background-color: active;
    }
    td button:active {
        background-color: grey;
    }

    input[type=checkbox] {
        height: 7vw;
        aspect-ratio: 1;
        max-height: 70px;
    }
    table {
        background-color: yellow;
        max-width:90%;
    }
}
